RewriteEngine on
RewriteOptions Inherit

RewriteRule ^(fr|en|de|ca)/(user|sample)/(zero|load_data|load_data_sample|load_data_fb|one|two|three|faq|privacy|credits|logout)?$ index.php?lang=$1&data_set=$2&step=$3 [L]