@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html, body { margin: 0; padding: 0;}
body { font: 1.7em/1.8em 'Open Sans', sans-serif; color: #ddd; font-weight: 100; background:#0e0e0e;  }
a { color: #09bc87; text-decoration: none }
a:link, a:active, a:visited { color: #09bc87; text-decoration: none }
a:hover { text-decoration: underline }
h1,h2,h3,h4,h5,h6 { font-weight: 100; color:#c4959c }



.site-main.row { margin: 0 }
.inner { min-height:100%;  }

/* small viewport layout */
@media (max-width:767px) { 
    .sidebar-col, .content-col { height: auto!important }
    .site-main { padding-bottom: 0px!important }
}
/* large viewport layout */
@media (min-width:768px) { 
    html, body { height: 100%; width: 100%; }
    #page { height: 100%; height: auto !important; min-height: 100%; }
    .site-main { height: 100%; padding:0 0px; }
	.sidebar-col .inner { margin-top: 100px;  position: fixed }
	.content-col .inner { margin-top: 40px;  }
}





.sidebar-col { padding: 20px 40px; }

.product_name { min-width: 260px; max-width: 280px; }
.callout { font-size: 150%; margin: 40px 0 20px 0; min-width: 260px; max-width: 280px; }
.fb_btn, .fb_btn:focus, .fb_btn:active, .fb_btn:visited, .fb_btn:hover { margin: 20px 0; color:#ddd; background: #4864b4; font-size: 101%}
.fb_btn img { padding: 4px 7px 2px 0}


.nav_steps,.nav_footer { list-style: none; margin: 20px 0; padding: 0; }
.nav_steps { border-bottom: 1px solid #222; max-width: 280px }
.nav_steps li { border-top: 1px solid #222; padding: 3px 0; }
.nav_steps li a { color: #ddd; text-decoration: none; display: block; }
.nav_steps li a.selected, .nav_steps li a:hover { color: #09bc87; text-decoration: none }

.nav_footer { margin-top: 50px; min-width: 260px; }
.nav_footer li { float: left; margin-right: 18px; font-size: 80% }





.content-col { 
	background:#161616 url('../img/grid_100.png'); 
	padding: 40px;
}

.title { margin: 0 0 40px 0 }

.chart { margin: 10px 0 10px 0; background: rgba(20,20,20,.8);    }
.chart canvas { background: rgba(20,20,20,.8);}
.chart_caption { margin: 0 0 10px 0; font-size: 80%; color: #666 }




.step {
	padding-bottom: 20px;
	position: relative;
	top:0;
	left: 0;
}
#step0,#step1,#step2,#step3 { display: none; }



/* text that is actually pulled from their data */
.udata {
	color: #c4959c;
}





/* The scrolling box with all the liked pages */

.likes_pages { height: 300px; width: 600px; overflow-y: scroll; overflow-x:hidden;}
.likes_pages_scroll { width:580px }
.likes_pages_scroll div { clear: both; margin: 14px; }
.likes_pages_scroll .img { padding: 0 6px 4px 0; float: left }
.likes_pages_scroll .name { padding-top: 6px; }
.likes_pages_scroll .about { padding: 0; }


th { font-weight: normal; }



