@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html, body { margin: 0; padding: 0; background:#141414 url('../img/grid_100.png')}
body { font: 1.7em/1.8em 'Open Sans', sans-serif; color: #ddd; font-weight: 100; }
a { color: #ccc; text-decoration: none }
a:link, a:active, a:visited { color: #888; text-decoration: underline }
a:hover { text-decoration: underline }
h1,h2,h3,h4,h5,h6 { font-weight: 100; color: #09bc87; }


#page { height: 100% !important;	}
.site-main.row { margin: 0 }
.inner { min-height:100%;	}

/* small viewport layout */


@media (max-width:767px) { 
	.site-main { padding-bottom: 0px!important; }
	.sidebar-col, .content-col { height: auto!important; padding: 40px; background: #141414 }
	.content-col { height: 100% !important; padding: 40px;}
}
/* large viewport layout */
@media (min-width:768px) { 
	html, body { height: 100%; width: 100%; }
	#page { height: 100% !important; min-height: 100%; }
	.site-main { height: 100%; padding:0 0px; }
		
	
	.sidebar-col {	background: #0e0e0e; margin: 0; padding: 0;	}
	.sidebar-col .inner { padding: 80px 20px; margin: 0; background: #0e0e0e; width:23%; padding-left: 3%; min-width:240px; height: 100% !important;	position: fixed }
	
	

	.content-col { height: 100% !important; padding: 10px 30px;}
	.content-col .inner { margin-top: 60px; height: 100% !important;	}
}






.product_name { min-width: 210px; max-width: 280px; }
.product_callout { font-size: 130%; margin: 30px 0 20px 0; min-width: 220px; max-width: 280px; color: #09bc87;	}

.fb_btn, .fb_btn:focus, .fb_btn:active, .fb_btn:visited { margin: 30px 0 20px 0; color:#ddd; background: #4864b4; font-size: 101%}
.fb_btn img { padding: 4px 7px 2px 0}
#fb_login_btn:hover,#get_fb_data_btn:hover { background: #5472c5; color: #ddd; }


.nav_steps,.nav_footer { list-style: none; margin: 30px 0; padding: 0; }
.nav_steps { border-bottom: 1px solid #222; max-width: 280px }
.nav_steps li { border-top: 1px solid #222; padding: 3px 0; }
.nav_steps li a { color: #ccc; text-decoration: none; display: block; }
.nav_steps li a.selected, .nav_steps li a:hover { color: #09bc87; text-decoration: none }

.nav_footer { margin-top: 50px; min-width: 210px; }
.nav_footer li { float: left; margin-right: 18px; font-size: 80% }







.title { margin: 0 0 20px 0 }


.chart { margin: 10px 0 10px 0; background: rgba(20,20,20,.8);		}
.chart canvas { width:500px; height:250px; background: rgba(20,20,20,.8);}
.chart_caption { margin: 0 0 10px 0; font-size: 80%; color: #666 }




.step {
	padding-bottom: 20px;
	position: relative;
	top:0;
	left: 0;
}
#step_zero,#step_one,#step_two,#step_three { display: none; }
#step_one_cover { background:#161616 url('../img/grid_100.png'); height: 100%; width:100%; position: relative; z-index: 300	}



/* text that is actually pulled from their data */
.udata {
	color: #09bc87;
}



.well { background: none; padding: 13px; font-size: 15px; line-height: 25px; margin: 15px 0 2px 0; }
.well { border: 1px solid #09bc87; color: #09bc87 }
.well { border: 1px solid #a94442; color: #a94442 }
.well { border: 1px solid #999; color: #999; }


.profile_box { border: 1px solid #333; padding: 15px; overflow: auto; width:360px; background: rgba(0,0,0,.2) }
.profile_box .profile_img, .profile_box .profile_txt { float: left }
.profile_box .profile_img { padding-right: 20px; }
.profile_box .profile_img img { width: 100px; height: 100px;}


/* The scrolling box with all the liked pages */

.likes_pages { height: 300px; width: 600px; overflow-y: scroll; overflow-x:hidden;}
.likes_pages_scroll { width:580px }
.likes_pages_scroll div { clear: both; margin: 14px; }
.likes_pages_scroll .img { padding: 0 6px 4px 0; float: left }
.likes_pages_scroll .name { padding-top: 6px; }
.likes_pages_scroll .about { padding: 0; }


th { font-weight: normal; }


.more_info { margin-top: 20px; border-left-color: #333 }



.btn-custom {
	/*margin: 30px 0 20px 0; font-size: 101%; padding: 10px;*/
	color: #d6d6d6;
	background-color: #1f1f1f;
	border-color: #3d3d3d;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
	color: #d6d6d6;
	background-color: #282828;
	border-color: #4b4b4b;
	outline: none;
}
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
	background-image: none;
}
.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
	background-color: #282828;
	border-color: #4b4b4b;
}
.btn-custom .badge {
	color: #d6d6d6;
	background-color: #131313;
}





/** Homepage Styles */
.homepage .shim {
	max-width: 1150px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.pad-top {
	padding-top: 40px;
}

@media(min-width:768px){
	.left {
		text-align: left;
	}

	.right {
		text-align: right;
	}
}
.bkg-black {
	background-color: #000;
	padding: 50px 0 100px 0;
}

.bkg-green {
	background-color: #09bc87;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 100px 0 100px 0;
}

.bkg-grid {
	padding: 100px 0 100px 0;
}

.bkg-lightgray {
	background-color: #7c7c7c;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 100px 0 100px 0;
}


/** Homepage Styles */
.homepage .shim {
	max-width: 1150px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.pad-top {
	padding-top: 40px;
}

@media(min-width:768px){
	.left {
		text-align: left;
	}

	.right {
		text-align: right;
	}
}
.bkg-black {
	background-color: #000;
	padding: 50px 0 100px 0;
}

.bkg-green {
	background-color: #09bc87;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 100px 0 100px 0;
}

.bkg-grid {
	padding: 100px 0 100px 0;
}

.bkg-lightgray {
	background-color: #7c7c7c;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 100px 0 100px 0;
}


.bkg-darkgray {
	background-color: #2b2b2b;
	padding: 100px 0 100px 0;
}

.menu a {
	font-size: 17px;
	text-decoration: none;
	color: #fff;
	margin-right: 10px;
	line-height: 60px;
}

.menu a:hover {
	text-decoration: none;
	color: #09bc87;
}

.unlocking-content {
	font-size: 34px;
	line-height: 48px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.med a, .unlocking-content a {
	font-size: 19px;
	background-color: #ed6d06;
	color: #fff;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 7px 16px;
	text-decoration: none;
	border: 1px solid #000;
}

.med a:hover, .unlocking-content a:hover {
	border: 1px solid #fff;
}

.services {
	font-size: 34px;
	line-height: 75px;
	padding: 0 0 40px 0;
	color: #fff;
}

.med {
	font-size: 20px;
}

.sm {
	font-size: 14px;
}



@media (max-width:767px) {
	.services-kids div {
		padding: 40px 0;
		border-bottom: 1px solid #fff;
		height: 100%;
	}

	.services-kids div:last-of-type {
		border-bottom: none;
		padding-bottom: none;
	}

	.services-kids div:first-of-type {
		padding-top: none;
		margin-top: -20px;
	}
}

@media (min-width:768px) {
	.services-kids div {
		border-right: 1px solid #fff;
		height: 100%;
	}

	.services-kids div:last-of-type {
		border-right: none;
	}
}

@media (max-width:767px) {
	.risk img {
		width: 100%;
		padding-top: 40px;
	}
}


.address {
	text-align: left;
	line-height: 22px
}
.address span {
	font-weight: 500;
}


